<!DOCTYPE html>

<html ng-app="app">
	<body ng-controller="PersonCtrl">

		<input placeholder="Filter" type="text" ng-model="personFilter" />
		<ul>
			<li ng-repeat="p in persons.filter(personFilter)">
				{{ p.toString() }}
			</li>
		</ul>

		<form name="form" ng-controller="PersonFormCtrl" ng-submit="newPerson(firstname, lastname)">
			<input type="text" placeholder="Firstname" ng-model="firstname"/>
			<input type="text" placeholder="Lastname" ng-model="lastname"/>
			<button>Create</button>
		</form>

		<script type="text/javascript" src="../../node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="model/Person.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</body>
</html>
